@tailwind base;
@tailwind components;
@tailwind utilities;

.mt-26{
  margin-top: 99px;
}

.min-h-75vh{
  min-height: 78vh;
}

.min-h-80vh{
  min-height: 80vh;
}

.min-h-84vh {
  min-height: 84vh;
}

.min-h-85vh{
  min-height:85vh;
}

nav,thead tr{
  background: linear-gradient(135deg, rgb(0,255,0,0.7), rgb(128, 255, 0,0.7), rgb(255,255,0,0.7));
  /* background: linear-gradient(45deg, rgba(0,255,0,0.7), rgba(0,128,0,0.7)); */
  /* background: linear-gradient(45deg, rgb(0,255,0), rgb(0,128,0)); */
  /* background: linear-gradient(45deg, rgb(0,255,0), transparent); */
  /* background: linear-gradient(45deg, rgb(0,255,0), white); */
  /* background: linear-gradient(45deg, rgba(0,255,0,0.7), rgba(0,255,0,0.3)); */
  /* background: linear-gradient(45deg, rgb(0,255,0), rgb(0,0,255)); */
  /* background: linear-gradient(45deg, rgb(0,255,0), rgb(0,255,255)); */
}

footer{
  background: linear-gradient(135deg, rgb(255,255,0), rgb(128, 255, 0), rgb(0,255,0))
}

.nav-btns:hover{
  color: rgb(0, 200, 0);
}

.nav-dp-btns:hover{
  background: linear-gradient(135deg, rgb(0,255,0), rgb(128, 255, 0), rgb(255,255,0));
}

.home-buy{
background-color: rgb(0, 245, 0);
}

.home-buy:hover{
  background-color: rgb(0, 204, 0); 
}

.home-sell{
  background-color: rgb(0, 0, 245);
}

.home-sell:hover{
  background-color: rgb(0, 0, 204); 
}

.dash-btn,.sell-btn,.cart-btn {
  background: linear-gradient(135deg, rgb(0,255,0), rgb(128, 255, 0), rgb(255,255,0));
  transition: all 1s linear;
  color: white; /* Initial text color */
}

.dash-btn:hover,.sell-btn:hover,.cart-btn:hover {
  background: linear-gradient(135deg, rgb(255,255,0), rgb(128, 255, 0), rgb(0,255,0));
  color: black;
}

.bg-green-550 {
  background-color: rgb(0, 255, 0);
}

.hover\:bg-green-555:hover {
  background-color: rgb(0, 204, 0); /* Darker green for hover effect */
}

.bg-blue-550 {
  background-color: rgb(0, 0, 255);
}

.hover\:bg-blue-550:hover {
  background-color: rgb(0, 0, 204); /* Darker blue for hover effect */
}

.bg-red-550 {
  background-color: rgb(255, 0, 0);
}

.hover\:bg-red-550:hover {
  background-color: rgb(204, 0, 0); /* Darker red for hover effect */
}

.bg-yellow-550 {
  background-color: rgb(255, 255, 17);
}

.hover\:bg-yellow-550:hover {
  background-color: rgb(204, 204, 14); /* Darker yellow for hover effect */
}

.hover\:text-green-550:hover {
  color: rgb(0, 255, 0); /* Adjust to the desired green */
}

.hover\:bg-green-550:hover {
  background-color: rgb(0, 255, 0); /* Adjust to the desired green */
}

.focus\:border-green-550:focus {
    border-color: rgb(0, 255, 0);
}
  

.focus\:ring-green-550:focus {
    --tw-ring-color: rgba(0, 255, 0); /* This is the rgba value for green-400 with 50% opacity */
    box-shadow: 0 0 0 3px var(--tw-ring-color);
}

/* @media screen and (max-width:767px) {
  .min-h-75vh{
    min-height: 73vh;
  }
}

@media screen and (max-width:460px) {
  .min-h-75vh{
    min-height: 67vh;
  }
} */
